body{
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8gd4xJYS_CYbcIQEBzbT_RUDdBXNoIBCWGpF_VQJLd5vFGPpr');
}
h1 {
    text-align: center;
    font-size: 75px;
    color: orange;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 25px;
}

h4 {
  font-size: 25px;
}
ol {
  display: inline-block;
  text-align: left;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  padding: 40px;
}

img {

  margin: 0 auto;
}

h3 {
  font-size: 25px;
  color: gray;
}
}
.odd {
  color:blue;
}
text {
  font-size: 21px;
  color: darkblue;
}

.even {
  color: green;
}
ul {
  font-size: 25px;
  display: inline-block;
  text-align: left;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  padding: 40px;
}
